<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Documents</title>

    <!-- CSS  -->

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">BFP admin (Documents)</a>
            </div>
        </div>
    </nav>
    <div class="container" id="content">
        <div class="section">
            <div id="file_list">
                <h1>Documents</h1>

                <div class="section">
                    <div class="well" v-for="item,index in files">
                        <div class="row">
                            <div class="col col-md-9">{{item.id +'. '+ item.filename}}</div>
                            <div class="col col-md-2">{{item.time}}</div>
                            <div class="col col-md-1">
                                <a class="download-button" v-on:click="download(index)">download</a>
                                <a class="download-button" v-on:click="delete_item(index)">delete</a>
                            </div>
                        </div>
                    </div>
                    <!-- <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col" v-for="item in headers">
                                    {{item}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item" v-for="item,index in files">
                                <td scope="col" v-for="key in headers">
                                    {{item[key]}}
                                </td>
                                <td scope="col">
                                    <a class="download-button" v-on:click="download(index)">download</a>
                                    <a class="download-button" v-on:click="delete_item(index)">delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
                <br>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add File</h4>
                            </div>
                            <div class="modal-body">
                                <input type="file" name="files[]" multiple><br>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" v-on:click="sendFiles">submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="fixed-action-btn">
                    <button type="button" class="btn btn-success button-view" data-toggle="modal"
                        data-target="#myModal">Add New
                        File</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        const url = 'https://bfpforecast.000webhostapp.com/phdfire/';
        //const url = 'http://localhost/phdfireproject/phdfire/';
        const form = document.querySelector('form');
        var user = null



        let vue_app = new Vue({
            el: "#file_list",
            data: {
                files: [],
                headers: [],
                userid: null
            },
            methods: {
                setuserid(user) {
                    console.log(user)
                    this.userid = user.id
                },
                setList(files = []) {
                    this.files = files
                    if (this.files.length > 0) {
                        this.headers = Object.keys(this.files[0])
                    }
                    console.log("files: %o", this.files)
                },
                init() {
                    getFiles(user.id, this.setList)
                },
                download: function (index) {
                    let file = this.files[index]
                    var link = document.createElement("a");
                    link.download = file.filename;
                    link.href = host + "/" + file.filepath;
                    link.click();
                },
                delete_item: function (index) {
                    let file = this.files[index]
                    let r = confirm("Delete " + file.filename + "?");
                    if (r == true) {
                        /*  deleteFile(file.id, file.filepath, this.init) */
                        $.get(host + "deleteDocument.php", {
                            file: file.filename,
                            id: file.id
                        }, function (data, status) {
                            console.log(data)
                            location.reload()
                        })

                    }
                },
                sendFiles() {
                    const files = document.querySelector('[type=file]').files;
                    //const files = this.files
                    const formData = new FormData();

                    formData.append('userid', this.userid)
                    console.log(this.userid)
                    for (let i = 0; i < files.length; i++) {
                        let file = files[i];
                        formData.append('files[]', file);
                    }

                    console.log(formData)

                    $.ajax({
                        url: url + 'savedocuments.php',
                        type: "POST",
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            console.log("hi")
                            console.log(data)
                            if (data.includes("__")) {
                                alert("successfully uploaded file")
                            }
                        },
                        error: function (e) {
                            console.log(e)
                        },
                        complete: function (e) {
                            location.reload()
                        }
                    });
                }
            }
        })


        var header = new Vue({
            el: '#header',
            methods: {
                onStart() {
                    user = JSON.parse(sessionStorage.getItem('user'))

                    console.log(user)
                    if (user) {
                        console.log('success')
                        vue_app.setuserid(user)
                        vue_app.init()
                        console.log(user)
                    } else {
                        alert('login user account')
                        this.onLogout()
                    }
                },
                onLogout() {
                    sessionStorage.removeItem('user')
                    window.open('login.html', '_self')
                }
            }
        })

        header.onStart()
    </script>
</body>

</html>