<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gallery</title>

    <!-- CSS  -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">BFP admin</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="post.html">POST</a></li>
                <li class="active"><a href="#">GALLERY</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="post-container">
        <h1>Gallery</h1>
        <div class="section">
            <!-- <ul class="list row">
                <li class="col col-sm-3 list-image" v-for="(item,index) in gallery">
                    <a :href="image_url + item" class="image">
                    <img :src="image_url + item" class="image">
                    </a>
                </li>
            </ul> -->
            <div class="panel panel-default" v-for="(item,index) in posts">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a :href="'#panel'+index">{{item.title}}</a>
                    </h4>
                </div>
                <div :id="'panel'+index" class="panel-collapse">
                    <div class="panel-body">
                        <ul class="list row">
                            <li class="col col-xs-3 gallery-image-view" v-for="image in posts[index].images">
                                <a class="gallery-image-container" :href="image_url + image">
                                    <img :src="image_url + image" class="gallery-image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  Scripts-->

    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    <script>
        var user = null
        var header = new Vue({
            el: '#header',
            methods: {
                onStart() {
                    user = JSON.parse(sessionStorage.getItem('user'))
                    console.log(user)
                    if (user) {
                        console.log('success')
                        getPost(null, user.id, onHandleData)
                    } else {
                        alert('login user account')
                        this.onLogout()
                    }
                },
                onLogout() {
                    sessionStorage.removeItem('user')
                    window.open('login.html', '_self')
                }
            }
        })

        header.onStart()



        var vue_app = new Vue({
            el: '#post-container',
            data: {
                posts: [],
                image_url: "https://bfpforecast.000webhostapp.com/phdfire/uploads/"
            },
            methods: {
                loadData: function (posts) {
                    console.log(posts)
                    posts = JSON.parse(posts)
                    var images = []
                    this.posts = posts.map((item) => {
                        return this.processImages(item)
                    })
                    console.log("posts %o", this.posts)
                },
                processImages: (post) => {
                    post.images = JSON.parse(post.images)
                    return post
                },
                viewItem(index) {
                    sessionStorage.setItem('post', JSON.stringify(this.posts[index]))
                    window.open('viewPost.html', '_self')
                }
            }
        })

        function onHandleData(data) {
            new Promise((resolve, reject) => {
                let _data = JSON.parse(data).filter((item) => {
                    return (user.type == 'Admin' || item.USERID == user.id)
                })
                resolve(_data)
            }).then((resp) => {
                vue_app.loadData(data)
            })
        }


        var url = "http://localhost/phdfireproject/phdfire/addPost.php"
        var form = document.getElementById('postform')

        const submitForm = () => {

            const title = document.getElementById('input_title').value

            const content = document.getElementById('textarea').value

            const files = document.querySelector('[type=file]').files;
            const formData = new FormData();
            console.log(user.id)
            formData.append('userid', user.id)
            formData.append('title', title)
            formData.append('content', content)

            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                formData.append('files[]', file);
            }

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    console.log(data)
                    alert(data)
                },
                error: function (e) {
                    console.log(e)
                },
                complete: function (e) {
                    vue_app.initApp()
                }
            });

        };
    </script>
</body>

</html>