<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BFP admin</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='open-iconic-master/font/css/open-iconic-bootstrap.css' rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="home">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BFP admin</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a v-on:click="onLogout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="homepage">

        <div class="row">
            <div class="col-md-4 card-item card-post">
                <a href="post.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">flash_on</i></h2>
                        <!-- <span class="oi oi-people"></span> -->
                        <h5 class="center">Posts</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-item card-document">
                <a href="documents.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">description</i></h2>
                        <h5 class="center">Documents</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-item card-admin" v-if="user_type=='Admin'">
                <a href="users.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Users</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-item card-reports">
                <a href="reports.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">warning</i></h2>
                        <h5 class="center">Reports</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-item card-stats">
                <a href="statistics.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">equalizer</i></h2>
                        <h5 class="center">Charts</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-item card-recommendation" v-if="user_type=='Admin'">
                <a href="recommendations.html">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons">receipt</i></h2>
                        <h5 class="center">Generate Recommendations</h5>
                    </div>
                </a>
            </div>

        </div>

    </div>

    <!--  Scripts-->
    <script>
        var homepage = new Vue({
            el: '#homepage',
            data: {
                user_type: null
            },
            methods: {
                setUserType(type) {
                    this.user_type = type
                }
            }
        })
        var app = new Vue({
            el: '#home',
            data: {
                user_type: null
            },
            methods: {
                onStart() {
                    let sessionItem = sessionStorage.getItem('user')
                    if (sessionItem) {
                        console.log(sessionItem)
                        let user = JSON.parse(sessionItem)
                        console.log(user)
                        if (user) {
                            /* this.user_type = user.type */
                            this.user_type = user.type
                            homepage.setUserType(user.type)
                            return
                        }
                    }
                    alert('login user account')
                    this.onLogout()
                },
                onLogout() {
                    sessionStorage.removeItem('user')
                    window.open('login.html', '_self')
                }
            }
        })

        app.onStart()
    </script>
</body>

</html>